mat-card {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0 20px 0 0;
    }

    button {
      height: fit-content;
    }
  }
}

mat-list-item {
  font-size: 16px;
}
